<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h3>Ionic Menu Starter</h3>

    <p>
        If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
    </p>
    <div class="card-wrapper" *ngFor="let item of cards">

        <summary-card *ngIf="item.getType() === 'summary' || item.getType() === 'conversion'" [card]="item"></summary-card>
        <channel-card *ngIf="item.getType() === 'channel'" [card]="item"></channel-card>
    </div>

</ion-content>