page-home {
    $legend_circle_dimen: 8px;
    .card {
        .title {
            width: 70%;
            float: left;
            padding: 2px 6px;
            height: 30px;
            font-size: 16px;
            line-height: 30px;
        }
        .email-icon {
            width: 29%;
            float: left;
            padding: 0px 12px;
            img {
                border-right-width: 8px;
                border-left-width: 8px;
                border-top-width: 6px;
                border-bottom-width: 0px;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                border-color: white;
                border-style: solid;
                height: 20px;
                margin-top: 10px;
                float: right;
                background-color: white;
                box-shadow: 1px -2px 4px rgba(0, 0, 0, 0.2);
            }
        }
    }
    .card-wrapper {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .profile-wrapper {
        .icons {
            ion-col {
                min-height: 100px;
                height: auto;
                position: relative;
                img {
                    padding: 4px;
                    border-radius: 50%;
                    border: 2px dashed grey;
                }
                .icon-left {
                    height: 60px;
                    width: 60px;
                    position: absolute;
                    top: 50%;
                    margin-top: -30px;
                    right: 0px;
                }
                .icon-right {
                    height: 60px;
                    width: 60px;
                    position: absolute;
                    top: 50%;
                    margin-top: -30px;
                    left: 0px;
                }
                .profile {
                    width: 100px;
                    height: 100px;
                    display: block;
                    margin: auto;
                }
            }
        }
        .credentials {
            text-align: center;
            padding: 3px;
            p:first-child {
                padding: 2px;
                margin: 2px;
            }
            p:last-child {
                padding: 0;
                margin: 0;
                font-size: 12px;
            }
        }
    }
}

@media only screen and (orientation: landscape) {
    .card-wrapper,
    .profile-wrapper {
        padding-left: 25%;
        padding-right: 25%;
    }
}