page-home {
    .card-wrapper {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .profile-wrapper {
        .icons {
            ion-col {
                min-height: 100px;
                height: auto;
                position: relative;
                img {
                    padding: 4px;
                    border-radius: 50%;
                    border: 2px dashed $default_text_color;
                    ;
                }
                .icon-left {
                    height: 60px;
                    width: 60px;
                    position: absolute;
                    top: 50%;
                    margin-top: -30px;
                    right: 0px;
                }
                .icon-right {
                    height: 60px;
                    width: 60px;
                    position: absolute;
                    top: 50%;
                    margin-top: -30px;
                    left: 0px;
                }
                .profile {
                    width: 100px;
                    height: 100px;
                    display: block;
                    margin: auto;
                }
            }
        }
        .credentials {
            text-align: center;
            padding: 3px;
            p:first-child {
                padding: 2px;
                margin: 2px;
                color: $default_text_color;
            }
            p:last-child {
                padding: 0;
                margin: 0;
                font-size: 12px;
                color: $default_text_color;
            }
        }
    }
}

ion-header {
    &:after {
        background-image: unset !important;
        height: 0 !important;
    }
}

@media only screen and (orientation: landscape) {
    .card-wrapper,
    .profile-wrapper {
        padding-left: 25%;
        padding-right: 25%;
    }
}