page-home {
    $icon_dimen: 50px;
    $icon_margin: (-1)*($icon_dimen/2);
    $icon_border_color: $color_jordy_blue_approx;
    .scroll-content {
        background: linear-gradient($color_curious_blue_approx 15%, $color_denim_approx 35%);
    }
    .card-wrapper {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .profile-wrapper {
        .icons {
            ion-col {
                min-height: 100px;
                height: auto;
                position: relative;
                img {
                    padding: 4px;
                    border-radius: 50%;
                    border: 2px dashed $icon_border_color;
                }
                .icon-left {
                    height: $icon_dimen;
                    width: $icon_dimen;
                    position: absolute;
                    top: 50%;
                    margin-top: $icon_margin;
                    right: 0px;
                    padding: 10px;
                }
                .icon-right {
                    height: $icon_dimen;
                    width: $icon_dimen;
                    position: absolute;
                    top: 50%;
                    margin-top: $icon_margin;
                    left: 0px;
                    padding: 10px;
                }
                .profile {
                    width: 100px;
                    height: 100px;
                    display: block;
                    margin: auto;
                }
            }
        }
        .credentials {
            text-align: center;
            padding: 3px;
            p:first-child {
                padding: 2px;
                margin: 2px;
                color: $default_text_color;
            }
            p:last-child {
                padding: 0;
                margin: 0;
                font-size: 12px;
                color: $default_text_color;
            }
        }
    }
    ion-header {
        &:after {
            background-image: unset !important;
            height: 0 !important;
        }
        .toolbar-background {
            background-color: $toolbar_background;
            border: unset;
        }
    }
}

@media only screen and (orientation: landscape) {
    .card-wrapper,
    .profile-wrapper {
        padding-left: 25%;
        padding-right: 25%;
    }
}